body{
  background: rgb(34,195,171);
background: linear-gradient(0deg, rgba(34,195,171,1) 34%, rgba(253,187,45,1) 100%);
background-repeat: no-repeat;
background-size: cover;  
height:100vh;
}
span{
  color:orange;
}